<div class=''>
  <div class=''>
    <div class=''>photo</div>
    <div class=''>
      <h2 class=''><%= @user.name %></h2>
      <h4 class=''>Number of posts: <%= @user.posts_counter %></h4>
    </div>
  </div>
  <div class="">
    <h1>Bio</h1>
    <p class="">
      <%= @user.bio %>
    </p>
  </div>
  <ul class=''>
    <% @posts.each do |post| %>
      <li class=''>
        <h4><%= link_to post.title, user_post_path(user_id: @user, id: post.id) %></h4>
        <p><%= post.text %></p>
        <h5>Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></h5>
      </li>
    <% end %>
  </ul>
  <%= link_to "See all posts", user_posts_path(user_id: @user), class: "" %>
</section>