<div class="">
  <div class="">
    <div class="">
      <h4><%= @post.title %></h4>
      <h5>Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></h5>
    </div>
    <div class="">
      <p><%= @post.text %></p>
    </div>
  </div>
    <ul class=''>
        <% @comments.each do |comment| %>
            <% if comment.post_id == @post.id %>
            <li class=''>
                <%= @userlist.find(comment.author_id).name %>: <%= comment.text %>
            </li>
            <% end %>
        <% end %>
    </ul>
</div>